[Unit]
Description=Febrace Analytics API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/febrace-analytics-api/
Environment="PATH=/home/ubuntu/febrace-analytics-api/.env/bin/"
ExecStart=/home/ubuntu/febrace-analytics-api/.env/bin/uvicorn febraceapi:app

[Install]
WantedBy=user.target

